/* .navBar{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #053857;
    
}

.navBar__right__button{
    background-color: #053857;
    width: 100px;
    height: 45px;
    margin-left: 10px;
    color: white;
}

.navBar__right{
    margin-right: 10px;
} */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #053857 ;

}

span.header_text {
    color: white;
    margin: 15px;
    font-size: 20px;
}

  